* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: blue;
}

li {
  font-size: 2em;
}
